*{
  margin: auto;
}

table th, td {
    padding: 8px;
    background:  rgb(168, 167, 167);
    
  }

  table {
    table-layout: fixed ;
    border-collapse: collapse;
  }

td tbody{
  font-size: 12px;
}
td  {
  border: 1px solid rgba(212, 208, 208, 0.911);
  width: 30px;
  height: 20px;
  max-width: 30px;
  max-height: 20px;
  color:#444;
  box-shadow: 0 0 5px -1px rgba(110, 105, 106, 0.2);
  cursor:pointer;
  vertical-align:middle;
  text-align: center;
}
  
  h1, h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(8, 100, 36);
  }

.smaily, .life{
  font-size: 40px;
}

td:hover {
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}


.gameOver{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 80px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px red;
}


.display{
  display: block;
}

.hint{
  border-color: red;
}

.btHint{
  border: none;
  background: none;
}

thead tr{
  width: 22px;
  height: 22px;
  max-width: 22px;
  max-height: 22px;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
}

.conteiner{
  text-align: center;
  width: 100%;
}

.clbtHint{
  float: left;
}

.btHint{
  font-size: 40px;
}

.life{
  float: right;
}


body {
  background-image: url("../pic/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom:  5px solid black;
  height: 100vh;
} 



/* body {
  background-image: url("https://banner2.cleanpng.com/20190503/jbp/kisspng-minesweeper-classic-mines-mine-sweeper-mono-micr-minesweeper-x-by-oleg-adamov-5ccc30a4c2c3f6.3183695315568856687978.jpg");
} */



